.inicio {
  background-image: url(../img/522716_114562378732281_1055335040_n.jpeg);
}

.presentacion {
  background-image: url(../img/AJBARNA-cadires-bany-assistit_2018_710x379_1.jpeg);
}

.globos {
  background-image: url("../img/globoaccesible.jpeg"); 
}

.playas {
  background-image: url("../img/A4A-playas-accesibles-guia-espana-1.jpeg");
}

.crucero {
  background-image: url("../img/crucero.jpg"); 
}