/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
}

@import url(./fonts.css);
@import url(./menu.css);
@import url(./menu-responsive.css);
@import url(./backgrounds.css);
@import url(./box.css);
@import url(./footer.css);

body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}



.wrapper {
    position: relative;
    height: 100%;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  height: auto;
  align-items: center;
  flex-direction: column;
}

.flex-centered {
  align-items: center;
  height: 100%;
}

h1{
    text-align:center;
    color: white;
}


